extends layout
block content
 br
 h1.text-center.myhead Showing All Contacts
 br
 div(style="margin-left: 20px;")
  a(href="users/search" style="color:black;") Search Contacts
  br

 ul(style="list-style-type: none; padding-left: 0px;")
  - each user in users
   br
   div.text-center(style="background-color: #CCEECC;" )
    br
    li  First Name : #{user.fname}
    li  Last Name  : #{user.lname}
    li  Address    : #{user.address}
    li  Zipcode    : #{user.zipcode}
    li  PhoneNumber: #{user.phonenumber}
    li  Weather    : #{user.weather}
    li  Location   : #{user.location}
    li  Temperature: #{user.temperature}
    li  #{user.lupdate}
    br

    div.row
     form.col-md-4( method="post", action="/users/weather" style="float:left;") 
      input(name="name", type="hidden", value=user.fname)
      input(name="id", type="hidden", value=user.id)
      input(name="zipcode", type="hidden", value=user.zipcode) 
      button.btn-lg.btn-primary(type="submit") Update Weather

     form.col-md-4( method="post", action="/users/edit") 
      input(name="id", type="hidden", value=user.id)
      input(name="fname", type="hidden", value=user.fname) 
      input(name="lname", type="hidden", value=user.lname) 
      input(name="address", type="hidden", value=user.address) 
      input(name="zipcode", type="hidden", value=user.zipcode) 
      input(name="phonenumber", type="hidden", value=user.phonenumber)
      button.btn-lg.btn-warning(type="submit") EDIT

     div.col-md-4
      button.btn-lg.btn-danger(data-toggle="modal" data-target="##{user.id}") DELETE

     div(class="modal fade" id="#{user.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      div(class="modal-dialog")
       div(class="modal-content" style="background:#FFBBBB")
        div(class="modal-header")
         button(type="button" class="close" data-dismiss="modal" aria-hidden="true") X
         h4(class="modal-title" id="myModalLabel") 
        div(class="modal-body") Are you sure you want to delete #{user.fname} ?
        div(class="modal-footer")
         form.col-md-2( method="post", action="/users/delete" style="float:right;") 
          input(name="id", type="hidden", value="#{user.id}") 
          button(type="submit" class="btn btn-danger") Delete
         button(type="button" class="btn btn-default" data-dismiss="modal" style="float:right;") No

     
    br 
    br               
   br
   hr


 br

 div.text-center
  a(href="users/new")
   button.btn-lg.btn-default Add New Contact
  br

  a(href="users/search")
   button.btn-lg.btn-default Search Contacts by Last Name
  br

  br
  a(href="/")
   button.btn-lg.btn-default.buttonstyle Home
  br 
  br

  


